// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-panel {
  display: inline-block;
  padding-right: 20px;
}

.page-header {
  margin-top: 0px;  
}

p {
  padding: 0px;
  margin: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.date-field {
  line-height: inherit !important;
}

#sales_chart {
    width: 300px;

    @media screen and (min-width: 375px) {
        width: 300px;
    }

    @media screen and (min-width: 450px) {
        width: 400px;
    }

    @media screen and (min-width: 700px) {
        width: 700px;
    }

    @media screen and (min-width: 1024px) {
        width: 1000px;
    }

    @media screen and (min-width: 1280) {
        width: 1200px;
    }

    @media screen and (min-width: 1920) {
        width: 1800px;
    }
}
