<!DOCTYPE html>
<html>
<head>
  <title>PropertyPrices</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
  <h1>Property Prices UK <small>Based on <a href="https://data.gov.uk/dataset/land-registry-monthly-price-paid-data">Land Registry datasets</a> from 2006 to 2015</small></h1>
</div>

<%= yield %>

</body>
</html>
